<div class="column">
    <div class="card">
      <img src="{{data.avatar}}" alt="Jane" style="width:100%;height: 200px;object-fit: cover">
      <div class="container">
        <h2 class="mt-10">{{data.name}}</h2>
        <p class="title">{{data.company.name}}</p>
        <p>{{data.phone}}</p>
        <p>{{data.email}}</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>