<!-- <div class="row mt-20">
  <div class="col-md-12">
    <button class="btn-info btn" (click)="printable = !printable">Toggle message</button>
    <div class="title mt-10">
        <h2 *ngIf = "printable" class="mt-10">{{message}}</h2>
        <p>Contact list data</p>
    </div>
    <div class="content row">
      <app-child *ngFor="let dataUsers of userInfo" [dataUser]="dataUsers" class="col-md-4"></app-child>
    </div>
  </div> 
</div> -->


<div class="row mt-20">
  <div class="col-md-12">
    <button class="btn-info btn" (click)="printable = !printable">Toggle message</button>
    <div class="title mt-10">
        <h2 *ngIf = "printable" class="mt-10">{{message}}</h2>
    </div>
    <div class="content row mt-20">
      <div class="col-md-3">
          <ul class="list-group">
              <li *ngFor='let data of userInfo' class="list-group-item" style="cursor: pointer" (click)="onSelected(data)" [class.selected]="data.id == dataShare.id">{{data.name}}</li>
          </ul>
      </div>
      <div class="col-md-4">
        <app-child2 [data]="dataShare" *ngIf="dataShare"></app-child2>
      </div>
    </div>
  </div> 
</div>
<p class="mt-10">{{dataMess}}</p>
<p class="mt-10">{{dataSeedService}}</p>
<button (click)="goToOutPut()" class="mt-10 btn btn-info">Go to output component</button>