<div class="column">
    <div class="card">
      <img src="{{dataUser.avatar}}" alt="Jane" style="width:100%;height: 200px;object-fit: cover">
      <div class="container">
        <h2 class="mt-10">{{dataUser.name}}</h2>
        <p class="title">{{dataUser.company.name}}</p>
        <p>{{dataUser.phone}}</p>
        <p>{{dataUser.email}}</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>